In [2]:
from pyspark.ml.recommendation import ALS
import pandas as pd

<code>
Movie Lens DataSet:
</code>

In [3]:
df = pd.read_json("../data/movies.json",orient='records')
df

,movieId,name,release_date,url,genre,userId,rating,timestamp,age,gender,function,number
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"[Animation, Children's, Comedy]",308,4,1998-02-17 17:28:52,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"[Action, Comedy, Drama]",308,5,1998-02-17 17:51:30,60,M,retired,95076
2,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),"[Crime, Drama, Thriller]",308,4,1998-02-17 18:20:08,60,M,retired,95076
3,7,Twelve Monkeys (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Twelve%20Monk...,"[Drama, Sci-Fi]",308,4,1998-02-17 18:07:27,60,M,retired,95076
4,8,Babe (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Babe%20(1995),"[Children's, Comedy, Drama]",308,5,1998-02-17 17:31:36,60,M,retired,95076
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,748,"Saint, The (1997)",14-Mar-1997,http://us.imdb.com/M/title-exact?Saint%2C%20Th...,"[Action, Romance, Thriller]",729,4,1998-04-22 23:10:38,19,M,student,56567
99996,751,Tomorrow Never Dies (1997),01-Jan-1997,http://us.imdb.com/M/title-exact?imdb-title-12...,"[Action, Romance, Thriller]",729,3,1998-04-22 23:05:38,19,M,student,56567
99997,879,"Peacemaker, The (1997)",01-Jan-1997,http://us.imdb.com/M/title-exact?Peacemaker%2C...,"[Action, Thriller, War]",729,3,1998-04-22 23:04:59,19,M,student,56567
99998,894,Home Alone 3 (1997),01-Jan-1997,http://us.imdb.com/M/title-exact?imdb-title-11...,"[Children's, Comedy]",729,1,1998-04-22 23:08:31,19,M,student,56567
99999,901,Mr. Magoo (1997),25-Dec-1997,http://us.imdb.com/M/title-exact?imdb-title-11...,[Comedy],729,1,1998-04-22 23:08:11,19,M,student,56567